/* Personalização do estilo do boostrap */
img{
    height: 20vw;
    object-fit: cover;
}
.logo{
    color:gold;
    font-family: "Sofia", sans-serif;
}
.sublogo{
    color:orangered;
    font-family: "Sofia", sans-serif;
    font-style: italic;
}